
#container{
        background-color: #1c1c1c;
        color:aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;  
}
table,td,tr{
    border: 10px solid red;
}
